/*{
    border: 1px solid red !important;
}*/
body {
    margin:0;
    padding:0;
    background-color: #fff;
    /*background-size: contain;*/
}
#modebutton{
    border: none;
    border-radius: 3px;
    padding: 2px;
    max-width: 100%;
    background: rgba(38, 99, 212, 0.644);
    color: rgba(54, 54, 54, 0.884);
    transition: all 0.2s ease-in-out;
}
#modebutton:hover{
    cursor: pointer;
    transform: scale(0.99);
    opacity: 0.7;
} 
/* Add a blue background color to the top navigation */
.topnav {
/*background-color: #227a9c;*/
background: url("../images/lightimg1.jpg") repeat-x center ;
background-size: contain;
height: 270px;
overflow: hidden;
}

/* Style the links inside the navigation bar */
 /* This includes HOME in front */
.topnav a {
display: inline-block;
color: rgb(32, 32, 32); /*dark grey*/
text-align: center;
padding: 10px 16px;
text-decoration: none;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 25px 10px 0px;
transition: all 0.4s ease-in;
}
.topnav a:hover{
opacity: 0.7;
transform: scale(0.98);
}

/* Add an active class to highlight the current page */
.active {
/*background-color: #fff;*/
color: #000;
display: inherit;
margin: 20px 10px 0;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
display: none;
color: #000;
margin: 25px 20px;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
float: left;
overflow: hidden;
}

/* Style the dropdown button inside the topnav icon */ 
 /* The DEPT notes button*/
.dropdown .dropbtn {
background-color: #227a9c;
border: none;
padding: 14px 16px;
outline: none;
font-size: 17px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #000;
margin: 0px;
transition: all 0.3s ease-in-out;
}
.dropdown .dropbtn:hover{
transform: scale(0.98);
color: #2a2a2a;
}
/* Style the dropdown content (hidden by default) */
 /* More of the container for the desktop view */
.dropdown-content {
display: none;
position: absolute;
background-color: #ced9e7;
border-radius: 4px;
min-width: 160px;
height: 200px;
margin-top: 2px 0 0 7px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Style the links inside the dropdown */
 /* Texts inside the dropdown list */
.dropdown-content a {
background-attachment: scroll;
background-color: #fff;
border-radius: 3px;
display: block;
padding: 10px 10px;
height: 15px;
text-decoration: none;
text-align: left;
font-size: 13px;
color:#135bbf;
}

/* Add a dark background on topnav links and the dropdown hover */
 /* Container for Navbar Texts */
.topnav a:hover, .dropdown:hover .dropbtn {
background-color: #22799c7c;
color: #135bbf;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
background-color: #858383;
color: #fff;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown */
.dropdown:hover .dropdown-content {
display: block;
}

/*When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
.topnav a:not(:first-of-type), .dropdown .dropbtn {
display: none;
}
.topnav a.icon {
float: right;
display: block;
}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative; }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        color: black;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
   /* .topnav.responsive .dropdown-content {/*position: relative;*/}*/
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
.intro {
    text-decoration: underline;
    text-decoration-color: #d8d7d5;
    text-align: center;
    font-family: Cursive,fancy;
    font-weight: lighter;
    color: rgba(104, 101, 101, 0.884);
    -webkit-animation: mymove 5s infinite; 
    /* Chrome, Safari, Opera */
    animation: mymove 4s infinite;
    }
    /* Chrome, Safari, Opera */
    @-webkit-keyframes mymove {
    50% {color: #135bbf;}
    }
    
    /* Standard syntax */
    @keyframes mymove {
    50% {color: #136bbf;}
    }

.floatbox {
    box-shadow: 0px 10px 16px 0px rgba(24, 23, 23, 0.2);
    background: linear-gradient(top left,#346ec08a, #e7dddd70);
    background-size: contain;
    background-origin: border-box;
    border-radius: 12px;
    width: 320px;
    height: 170px;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.floatbox a {
    text-decoration: none;
    text-align: center;
    font-family: cursive;
    font-weight: 70px;
    margin: 4px;
    /* Styles For Text-transition */
    color: black;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 4s infinite;
    }
    /* Chrome, Safari, Opera */
    @-webkit-keyframes mymove {
    50% {color: black;}
    }
    /* Standard syntax */
    @keyframes mymove {
    50% {color: #135bbf;}
    }
.footer {
    display: flex;
    justify-content: space-around;
    height: 20vh;
    margin-top: 15vh;
    background-color: rgba(54, 127, 196, 0.308);
}
.footer > p{
    padding: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #252525;
}
.footer a {
    text-decoration: none;
    color: rgba(46, 59, 248, 0.61);
    font-size: 13px
}