* {
    border: 1px solid red !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* The variables used in the project */
  $input-color: rgb(52, 56, 56);
  $input-back: hsla(0, 0%, 99%, 0.973);
  $card1: rgba(21, 33, 88, 0.911);
  $card2: rgb(155, 32, 42);
  $card3: rgb(163, 119, 172);
  $card4: rgba(117, 38, 108, 0.767);
  $card5: rgb(167, 67, 10);
  $card6: rgba(34, 148, 34, 0.795);
  $card7: rgb(30, 77, 21);
  $card8: rgb(43, 61, 138);