@import "./presets";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Itim&display=swap");

body {
    box-sizing: border-box;
    background: hsl(0, 0%, 95%);
    font-family: "Lemonada", sans-serif;
  }
  /*Style the header*/
.head{
    display: flex;
  }
  /*Style the main header section*/
.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem;
  }
  /*Style the main2 header section*/
.main2 {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    background-color: hsl(0, 0%, 100%);
  }
.main1-bg {
    width: 100vw;
    background: hsl(0, 0%, 100%);
  }
  .main2 > h2 {
    background: url(/images/pens\ and\ paint.jpg) center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
    color: transparent;
  }
