@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Itim&display=swap");
@import "./presets";

@mixin flexLayout($direction) {
  display: flex;
  flex-flow: $direction;
}
@mixin row($direction) {
  justify-content: $direction;
}
@mixin column($direction) {
  align-items: $direction;
}
@mixin gridCenter {
  display: grid;
  place-items: center;
}

/*Here goes the Media query for Smartphones*/
@media (max-width: 500px) {
  header {
    @include flexLayout(row);
    @include row(space-between);
    padding: 0.3rem;
    background: hsl(0, 0%, 13%);

    .logo-area {
      @include flexLayout(row);
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 25rem;
      }
      h1 {
        font-size: 1.19rem;
        a {
          color: #135bbf;
          text-decoration: none;
        }
      }
    }
    .login-area {
      display: none;
      flex-direction: column;
      gap: 2rem;
      position: absolute;
      top: 4.5rem;
      left: 1rem;
      width: 90%;
      height: 9rem;
      padding: 2rem 0;
      border-radius: 0.36rem;
      background: hsl(0, 11%, 96%);

      .login-area-btn {
        background: none;
        border: none;
      }
    }
  }

  main {
    box-sizing: border-box;
    @include flexLayout(column);
    padding: 0.8rem 0;
  }
  .main-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cards {
      //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      //  0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: 1px solid hsl(0, 0%, 80%);
      width: 95%;
      height: 10rem;
      max-height: 20%;
      margin: 0.5rem 0;
      padding: 1rem 0;
      border-radius: 0.5rem;
      background: hsl(0, 0%, 97%);
      line-height: 0.7;
      h2 {
        font-size: 1rem;
        color: #09326b;
      }
    }
    .cards:hover {
      border: 1px solid hsla(215, 22%, 41%, 0.555);
    }

    h2,
    .card-info {
      display: grid;
      place-items: center;
      text-align: center;
    }
    .card-info {
      display: flex;
      flex-flow: row;
      justify-content: center;
      gap: 5px;
      font-size: 0.8rem;

      i:not(.far) {
        font-size: 0.9rem;
        color: #135bbf;
      }
      .far {
        font-size: 0.89rem;
        color: #e79908;
      }
      p {
        font-size: 0.8rem;
        font-weight: 550;
      }
    }
    .card-tips2 {
      @include flexLayout(row);
      @include row(center);
      @include column(center);
      padding: 1rem 0;
      gap: 3.5rem;
      i {
        font-size: 1.2rem;
        color: #093777;
      }
    }
    .card-tips {
      box-sizing: border-box;
      @include flexLayout(row);
      @include row(center);
      margin-top: 1.5rem;
      overflow: hidden;
      gap: 1rem;

      //The card-tips styling
      p {
        box-sizing: border-box;
        @include flexLayout(row);
        @include column(center);
        @include row(center);
        gap: 4px;
        height: 1rem;
        padding-left: 3px;
        border-radius: 1rem;
        background: #093777;
        font-size: 0.5rem;
        color: white;
      }
      p span {
        box-sizing: border-box;
        height: 1rem;
        width: 1.4rem;
        padding: 0.35rem;
        border-radius: 1rem;
        background: #001133;
        font-size: 0.5rem;
        font-weight: bold;
        color: hsl(0, 0%, 80%);
      }
    }
  }
  .section1 {
    display: flex;
    flex-direction: column;
    background: hsl(0, 0%, 90%);
    padding: 2rem;

    .section-head {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      line-height: 0.2;

      h3 {
        font-size: 1.1rem;
        color: #082d61
      }
      span {
        @include flexLayout(row);
        gap: 3px;

        i {
          @include gridCenter();
          color: #e79908;
          font-size: 0.78rem;
        }
        p {
          font-size: 0.78rem;
        }
      }
    }
    .section-scroll {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      padding: 0.8rem 0.1rem;
      overflow-x: scroll;
      white-space: nowrap;

      .section-card:hover {
        border: 1px solid hsla(215, 22%, 41%, 0.555);
        background: hsla(0, 0%, 97%, 0.699);
      }
      .section-card {
        box-sizing: border-box;
        display: grid;
        place-items: center;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 0.3rem;
        max-width: 220px;
        min-width: 220px;
        height: 10rem;
        padding: 0.7rem 0.4rem;
        background: hsl(0, 0%, 97%);

        span {
          font-size: 2rem;
          color: #1356b4;
        }
        h4 {
          color: #001133;
        }
        p {
          font-family: "itim", cursive;
        }
      }
    }
  }
  .section2 {
    padding: 2rem 0;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-top: 1px dotted hsl(0, 0%, 50%);

    p {
      text-align: center;
      font-family: sans-serif;
      font-size: 0.75rem;
    }
    nav {
      display: flex;
      flex-flow: row;
      gap: 3rem;
      font-size: 1.5rem;
      color: #135bbf;
    }
  }
}

/*Here Goes Media-Queries for iPhone4, 4-plus and other punishments*/
@media (max-width: 320px) {
  .card-info p {
    font-size: 10px;
  }

  .section-head {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    line-height: 0.2;

    h3 {
      font-size: 8px;
    }
    p {
      font-size: 0.8rem;
    }
  }
  
}

/*Here goes Media query for Tablet devices*/
@media (max-width: 1020px) and (min-width: 501px) {
  header {
    @include flexLayout(row);
    @include row(space-between);
    padding: 0 2rem;
    background-color: hsl(0, 0%, 12%);

    .logo-area {
      @include flexLayout(row);
      img {
        width: 4.3rem;
        height: 4rem;
        border-radius: 50%;
      }
      h1 a {
        font-size: 1.3rem;
        color: #135bbf;
        text-decoration: none;
      }
    }
    .login-area {
      @include flexLayout(row);
      @include column(center);
      gap: 1.5rem;
      .login-area-btn {
        border: 2px solid #135bbf;
        border-radius: 0.4rem;
        padding: 0.2rem 0.4rem;
        outline: none;
        background: transparent;
        cursor: pointer;
      }
      .login-area-btn:focus {
        outline: none;
        background: #135bbf;
      }
      .login-area-btn:focus a {
        color: hsl(0, 0%, 96%);
      }
      .login-area-btn:hover {
        outline: none;
        background: #135bbf;
      }
      .login-area-btn:hover a {
        color: hsl(0, 0%, 96%);
      }
      //Specifically for the links(Don't tamper!)
      .login-area-btn a {
        text-decoration: none;
        color: #135bbf;
      }
      .login-area-btn a:focus {
        outline: none;
        background: none;
        color: none;
      }
    }
  }
  main {
    @include flexLayout(column);
    padding: 2rem;
  }
  .main-area {
    box-sizing: border-box;
    @include flexLayout(column);
    gap: 2rem;
    //border-bottom: 0.8px solid hsl(0, 0%, 70%);*/

    i:not(.far) {
      color: #135bbf;
    }
    .far {
      color: #e79908;
    }
    //styling for the cards
    .cards:hover {
      border: 1px solid hsla(215, 22%, 41%, 0.555);
    }
    .cards {
      box-sizing: border-box;
      //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      //  0 6px 20px 0 rgba(0, 0, 0, 0.19);
      @include flexLayout(row);
      gap: 1rem;
      height: 8rem;
      border: 1px solid hsl(0, 0%, 80%);
      border-radius: 0.8rem;
      background: hsl(0, 0%, 95%);

      h2 {
        @include flexLayout(column);
        @include column(center);
        @include row(center);
        max-width: 200px;
        min-width: 200px;
        text-align: center;
        font-size: 0.85rem;
        font-family: "Comfortaa" sans-serif;
        font-weight: 600;
        border-right: 1px dotted hsl(0, 0%, 50%);
        color: #093777;
      }
    }

    .card-info {
      flex: 40%;
      @include flexLayout(row);
      @include column(center);
      gap: 5px;
      border-right: 1px dotted hsl(0, 0%, 50%);
      font-size: 0.9rem;

      i {
        font-size: 1rem;
      }
      p {
        font-size: 0.7rem;
        word-wrap: normal;
      }
    }
    .card-tips {
      flex: 25%;
      @include flexLayout(row);
      @include column(center);
      gap: 8px;
      font-size: 0.8rem;

      //The card-tips styling
      p {
        box-sizing: border-box;
        @include flexLayout(row);
        @include column(center);
        @include row(center);
        gap: 4px;
        height: 1rem;
        padding-left: 3px;
        padding-top: 0.1rem;
        border-radius: 1rem;
        background: #093777;
        font-size: 0.5rem;
        color: white;
      }
      p span {
        box-sizing: border-box;
        height: 1rem;
        width: 1.4rem;
        padding: 0.25rem;
        margin-bottom: 0.1rem;
        border-radius: 1rem;
        background: #001133;
        font-size: 0.5rem;
        color: hsl(0, 0%, 80%);
      }
    }
    .card-tips2 {
      @include flexLayout(row);
      @include column(center);
      flex: 25%;
      gap: 3.5rem;
      padding: 0 1rem;
      i {
        font-size: 1.4rem;
      }
    }
  }

  .section1 {
    @include flexLayout(column);
    padding: 1rem;
    background: hsl(0, 0%, 96%);

    .section-head {
      padding: 1rem 2rem;

      h3 {
        font-size: 1rem;
        font-weight: 700;
        color: #135bbf;
      }
      span {
        @include flexLayout(row);
        @include column(center);
        gap: 4px;

        .far {
          color: #e79908;
        }
        p {
          font-family: "itim", cursive;
          font-size: 0.85rem;
          color: hsl(0, 0%, 20%);
        }
      }
    }
    .section-scroll {
      @include flexLayout(row);
      gap: 2rem;
      padding: 0.7rem;
      white-space: nowrap;
      overflow-x: auto;
    }
    .section-card {
      @include gridCenter();
      //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      //  0 6px 20px 0 rgba(0, 0, 0, 0.19);
      min-width: 220px;
      height: 180px;
      border: 1px solid hsl(0, 0%, 80%);
      border-radius: 1rem;
      background: hsl(0, 0%, 100%);

      h4 {
        font-size: 0.9rem;
        color: #093777;
      }
      i {
        font-size: 1.3rem;
        color: #135bbf;
      }
      p {
        font-family: "itim", cursive;
        font-size: 14px;
        color: hsl(0, 0%, 10%);
      }
    }
    .section-card:hover {
      border: 1.2px solid hsla(215, 22%, 41%, 0.555);
      background: hsla(0, 0%, 100%, 0.87);
    }
  }
  .section2 {
    margin-top: 1rem;
    padding: 2rem;
  }
  footer {
    @include flexLayout(row);
    gap: 2rem;
    margin-top: 1rem;
    padding: 2rem 1rem;
    background: hsl(0, 0%, 97%);

    p {
      color: hsl(0, 0%, 20%);
      font-size: 0.7rem;
    }

    nav {
      @include flexLayout(row);
      @include column(center);
      gap: 3rem;

      i {
        color: #135bbf;
        font-size: 1.4rem;
      }
      .fab:hover,
      .fab:focus {
        color: #093777;
      }
    }
  }
}

/*Here goes Media query for Laptops and Desktops*/
@media (min-width: 1021px) {
  header {
    @include flexLayout(row);
    @include row(space-between);
    padding: 0 2rem;
    background-color: hsl(0, 0%, 12%);

    .logo-area {
      @include flexLayout(row);
      img {
        width: 4.3rem;
        height: 4rem;
        border-radius: 50%;
      }
      h1 a {
        color: #135bbf;
        text-decoration: none;
      }
    }
    .login-area {
      @include flexLayout(row);
      @include column(center);
      gap: 1.5rem;

      .login-area-btn {
        border: 2px solid #135bbf;
        border-radius: 0.4rem;
        padding: 0.2rem 0.4rem;
        outline: none;
        background: transparent;
        cursor: pointer;
      }
      .login-area-btn:focus {
        outline: none;
        background: #135bbf;
      }
      .login-area-btn:focus a {
        color: hsl(0, 0%, 96%);
      }
      .login-area-btn:hover {
        outline: none;
        background: #135bbf;
      }
      .login-area-btn:hover a {
        color: hsl(0, 0%, 96%);
      }
      //Specifically for the links(Don't tamper!)
      .login-area-btn a {
        text-decoration: none;
        color: #135bbf;
      }
      .login-area-btn a:focus {
        outline: none;
        background: none;
        color: none;
      }
    }
  }
  .main-area {
    display: flex;
    flex-flow: row;
    @include row(center);
    gap: 2rem;
    padding: 4rem 2rem;

    .cards {
      box-sizing: border-box;
      @include flexLayout(column);
      @include column(center);
      flex: 30%;
      gap: 1rem;
      max-width: 30%;
      height: 12rem;
      padding: 0.5rem 0;
      border: 1px solid hsl(0, 0%, 80%);
      border-radius: 0.5rem;
      background: hsl(0, 0%, 96%);

      h2 {
        color: #093777;
        font-size: 1rem;
      }
      span {
        max-height: 50px;
      }
    }
    .cards:hover {
      border: 1px solid hsla(215, 22%, 41%, 0.555);
    }
    .card1 h2 {
      text-align: left;
      white-space: nowrap;
    }
    .card-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.4rem;

      i {
        display: grid;
        place-items: center;
        color: #135bbf;
        font-size: 0.8rem;
      }
      p {
        font-size: 0.7rem;
      }
    }
    .card-tips2 {
      @include flexLayout(row);
      gap: 5rem;
      i {
        color: #135bbf;
        font-size: 1.3rem;
      }
    }
    .card-tips {
      display: flex;
      gap: 1.5rem;
      //The card-tips styling
      p {
        box-sizing: border-box;
        @include flexLayout(row);
        @include column(center);
        @include row(center);
        gap: 4px;
        height: 1rem;
        padding-left: 3px;
        padding-top: 0.1rem;
        border-radius: 1rem;
        background: #093777;
        font-size: 0.5rem;
        color: white;
      }
      p span {
        box-sizing: border-box;
        height: 1rem;
        width: 1.4rem;
        padding: 0.25rem;
        margin-bottom: 0.1rem;
        border-radius: 1rem;
        background: #001133;
        font-size: 0.5rem;
        color: hsl(0, 0%, 80%);
      }
    }
  }
  .section1 {
    display: flex;
    flex-flow: column;

    .section-head {
      @include flexLayout(column);
      padding: 0 2rem;
      //background: hsl(0, 0%, 94%);
      line-height: 0.7;
      //box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),
      //0 6px 20px 0 rgba(0, 0, 0, 0.19);

      h3 {
        color: #135bbf;
      }
      span {
        @include flexLayout(row);
        @include column(center);
        gap: 0.1rem;
        text-align: center;

        i {
          @include flexLayout(row);
          @include column(center);
          height: auto;
          font-size: 0.8rem;
          color: #e79908;
        }
        p {
          font-family: "itim", cursive;
          font-size: 0.8rem;
        }
      }
    }
    .section-scroll {
      @include flexLayout(row);
      gap: 1rem;
      padding: 2rem 1rem;
      border-bottom: 1px solid hsl(0, 0%, 80%);
      background: hsl(0, 0%, 90%);

      .section-card {
        //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        @include gridCenter();
        flex: 20%;
        padding-top: 0.5rem;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 0.5rem;
        background: hsl(0, 0%, 95%);

        h4 {
          font-size: 0.9rem;
          color: #093777;
        }
        i {
          color: #135bbf;
        }
        p {
          font-family: "itim", sans-serif;
          font-size: 14px;
          color: hsl(0, 0%, 10%);
        }
      }
      .section-card:hover {
        transition: 0.5s;
        background: hsl(0, 0%, 90%);
      }
    }
  }
  .section2 {
    @include flexLayout(column);
    .main-area {
      @include flexLayout(row);
      gap: 5rem;
    }
  }
  footer {
    display: flex;
    flex-direction: row;
    padding: 0.8rem 2rem;
    border-top: 1px solid hsl(0, 0%, 80%);
    gap: 6rem;

    p {
      color: hsl(0, 0%, 20%);
      font-size: 0.6rem;
      word-spacing: 3px;
    }

    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4rem;
      color: #135bbf;

      .fab:hover,
      .fab:focus {
        color: #135bbfb9;
      }
    }
  }
}
