* {
  boder: 1px solid red !important;
  box-sizing: border-box;
}

/*
    The order of styling for Mobile-first inludes:
        1. The Body sections
        2. The pseudo-class designs
        3. Special designs for input fields
        4. The Header 
        5. The Footer
*/
:root{
  --input-color: rgb(52, 56, 56);
  --input-back:  hsla(0, 0%, 99%, 0.973);
  --card1: rgba(21, 33, 88, 0.911);
  --card2: rgba(117, 38, 108, 0.767);
  --card3: rgb(163, 119, 172);
  --card4: rgb(155, 32, 42);
  --card5: rgb(167, 67, 10);
  --card6: rgba(34, 148, 34, 0.795);
  --card7: rgb(30, 77, 21);
  --card8: rgb(43, 61, 138);
}
body {
  margin: 0;
  padding: 0;
  background: hsl(0, 0%, 97%);
  font-family: 'Lemonada', sans-serif;
}
/*Style the main header section*/
.main1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .4rem;
}
.liteback{
  width: 100vw;
  background: hsl(0, 0%, 100%);
}
.liteback > h2,
.main2 > h2{
  background: url(/images/pens\ and\ paint.jpg) center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 900;
  color: transparent;
}
/*Style for the input fields*/
.input-field{
  display: flex;
  gap: 4px;
  margin-left: auto;
}
.report{
  height: 2rem;
  width: 25vh;
  box-shadow: 0 4px 8px 0
  rgba(0,0,0,.2), 0 6px 20px 0
  rgba(0,0,0,.19);
  border: none;
  border-radius: .4rem;
  background: var(--input-back);
}
.report:focus,
.report:hover{
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.2),
  0 2px 6px 0 rgba(58,58,248);
  background-color: hsl(0, 0%, 100%);
  outline: none;
}

.report-btn{
  width: 50px;
  border: none;
  border-radius: 3.3px;
  background: -webkit-linear-gradient(left top, rgb(163, 53, 26), rgba(226, 52, 8, 0.726));
  font-size: 12px;
  color: hsl(0, 0%, 0%);
}
.report-btn:focus,
.report-btn:hover{
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.2),
  0 2px 6px 0 rgb(114, 114, 250);
  background-color: hsl(0, 0%, 100%);
  outline: none;
  color: hsl(0, 0%, 0%);
}

/*Style the section1*/
.section1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
}

/*Style the section cards*/
.cards-bg{
  display: flex;
  flex-direction: row;
  gap: .5rem;
}
.month-cards{
  display: grid;
  place-items: center;
  box-sizing: border-box;
  height: 1.5rem;
  min-width: 4.7rem;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 3px;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
}
.mnth1{
  background: var(--card1);
}
.mnth2{
  background: var(--card2);
}
.mnth3{
  background: var(--card3);
}
.mnth4{
  background: var(--card4);
}
.mnth5{
  background: var(--card5);
}
.mnth6{
  background: var(--card6);
}
.mnth7{
  background: var(--card7);
}
.mnth8{
  background: var(--card8);
}
.cards-content{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 250px;
  min-width: 12.4rem;
  padding: .5rem;
  box-shadow: 0 4px 8px 0
  rgba(0,0,0,.2), 0 6px 20px 0
  rgba(0,0,0,.19);
  border-radius: .3rem;
  cursor: pointer;
}
/*Style the cards top-border*/
.card1{
  border-top: 4px solid var(--card1);
}
.card2{
  border-top: 4px solid var(--card2);
}
.card3{
  border-top: 4px solid var(--card3);
}
.card4{
  border-top: 4px solid var(--card4);
}
.card5{
  border-top: 4px solid var(--card5);
}
.card6{
  border-top: 4px solid var(--card6);
}
.card7{
  border-top: 4px solid var(--card7);
}
.card8{
  border-top: 4px solid var(--card8);
}
/*Style the card contents*/
.first{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.second{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.one{
  height: 1.5rem;
  width: 3rem;
  padding: 4px;
  background-color:  rgb(27,50,95);
  border-radius: 4px;
  font-size: .8rem;
  color: hsl(0, 0%, 80%);
}
.two{
  max-width: 65%;
  font-family: ;
  font-size: .9rem;
}
.three{
  font-size: .8rem;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}
.four{
  height: 1.3rem;
  margin: auto;
  background-color: rgb(3,54,73);
  border: none;
  border-radius: .4rem;
  font-size: .7rem;
  color: rgb(0,0,0);
}
.four:focus{
  background-color: hsl(0, 0%, 97%);
  box-shadow: 0 0 0 2px hsl(0, 0%, 100%),
  0 0 0 5px rgb(3,54,73);
  outline: none;
  transition: .8s;
}

/*Style the main2 header section*/
.main2{
  display: flex;
  flex-direction: column;
  padding: .3rem;
  background-color: hsl(0, 0%, 100%);
}

/*Style for the section2*/
.section2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 2em;
}

/*Next Comes Media-queries for Other Screen Types*/
@media (min-width: 640px){
  .main1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4px;
    padding: 0 4rem;
    background: hsl(0, 0%, 100%);
  }
  .main2{
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    background-color: hsl(0, 0%, 100%);
  }
  .liteback > h2,
  .main2 > h2{
    background: url(/images/pens\ and\ paint.jpg) right;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: left;
    font-size: 2.2rem;
    font-weight: 900;
    color: transparent;
}
  .input-field{
    display: flex;
    gap: 4px;
    margin-left: auto;
  }
  .report-btn,.report:hover{
    transition: .5s;
    opacity: .9;
  }
  .section1{
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    margin: auto;
    padding: 2rem;
    gap: 2rem;
    border-radius: 4px;
    background: url(/images/siteback.jpg) center;
    background-attachment: fixed;
    background-size: cover;
  }
  .section2{
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    margin: auto;
    padding: 2rem;
    gap: 1rem;
    border-radius: 4px;
    background: url(/images/sitebackgrounds.jpg) center;
    background-attachment: fixed;
    background-size: cover;
  }
  .cards-content{
    background: hsl(0, 0%, 80%);
    transition: 1s;
    opacity: .9;
  }
  .cards-content:hover{
    transform: scale(0.99);
    opacity: .8;
  }
}