@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Itim&display=swap");
@import "./presets";

@mixin flexLayout($direction) {
    display: flex;
    flex-flow: $direction;
}
@mixin row($direction) {
    justify-content: $direction;
}
@mixin col($direction) {
    align-items: $direction;
}
@mixin gridLayout {
    display: grid;
    place-items: center;
}

// Media query for Smartphones
@media (max-width: 430px) {
    .header {
        @include flexLayout(column);
        padding: .2rem .5rem;

        .active-head {
            @include flexLayout(row);
            @include col(center);
            gap: 1rem;

            img {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 1.5rem;
            }
            h1 {
                font-size: 18px;
            }  
            .home-btn {
                margin-left: 5.9rem;
            }

        }
        #drop-content.hide {
            display: block;
            @include gridLayout();
        }
        #drop-content {
            display: none;
        }
        .drop-content {
            
            gap: .2rem;
            width: 85%;
            height: 14rem;
            margin: 0 auto;
            margin-bottom: .8rem;
            position: relative;
            top: 7px;
            bottom: 7px;
            border-radius: .2rem;
            background: hsl(0, 0%, 90%);
            overflow: auto;

            button {
                border: .5px solid hsl(0, 0%, 40%);
                width: 100%;
                height: 2.5rem;
                background: transparent;
            }
        }
        
    }
    .section {
        @include flexLayout(column);

        .section-note {
            @include flexLayout(column);
            padding: 1rem;
            background: hsl(0, 0%, 80%);

            .section-btn {
                @include flexLayout(row);
                gap: 3rem;
            }
        }
        #content {
            display: block;
        }
        #content.show {
            display: none;
        }
        #content2 {
            display: block;
        }
        #content2.show {
            display: none;
        }
        

    }
    /* This is styling for the scrollable section and cards*/
    .section-scroll {
        @include flexLayout(column);
        @include col(center);
        gap: 1.5rem;
        width: 95%;
        max-height: 490px;
        margin: 0 auto;
        padding: .9rem 1rem;
        list-style-type: none;
        background: hsl(0, 0%, 75%);
        overflow: auto;

        .card {
            @include flexLayout(column);
            gap: 2rem;
            width: 100%;
            height: 13rem;
            background: hsl(0, 0%, 90%);

            .note-title {
                height: 90px;
                padding-top: .5rem;
                font-size: 1rem;
                text-align: left;
            }
            .card-tips {
                @include flexLayout(row);
                @include row(space-around);

                span {
                    @include flexLayout(column);
                    @include col(center);
                    @include row(center);
                }
            }
        }
    }
}
/*/Media query for iPhone4,5 and other punishments
@media (max-width: 320px) {

}*/
// Media query for Tablets
@media (min-width: 460px) {
    .card {
        box-sizing: border-box;
        @include flexLayout(column);
        @include col(center);
        
        .note-title {
            font-size: 10px;
        }
        .card-tips {
            margin-top: -1rem;
            width: 100%;
        }

    }
}

// Media query for PCs and High-end Tablets
@media (min-width: 1020px) {
    .header {
        @include flexLayout(row);
        @include row(space-between);
        padding: .5rem 1rem;

        .active-head {
            @include flexLayout(row);
            gap: 1rem;
            
            .home-btn {
                display: none;
            }
        }
        .drop-content {
            @include flexLayout(row);
            @include col(center);
            margin-right: 3rem;
            gap: 1rem;
        }
    }

    .section {
        @include flexLayout(row);
        gap: 2rem;
        padding: 1rem;
        border-bottom: 1px solid hsl(0, 0%, 30%);;

        .section-note {
            width: 20%;
            height: 30rem;
            border: 1px solid hsl(0, 0%, 30%);
            background: hsl(0, 0%, 60%);
            text-align: center;
            
            .section-btn {
                display: none;
            }
        }
        .section-scroll {
            @include flexLayout(row wrap);
            @include row(center);
            gap: 1.2rem;
            max-width: 70%;
            margin: 0 auto;
            padding: 1.5rem;
            border: 1px solid hsl(0, 0%, 30%);
            background: hsl(0, 0%, 60%);
            list-style-type: none;
            overflow: auto;
        }
        .card {
            @include flexLayout(column);
            gap: 2rem;
            width: 30%;
            height: 33%;
            border: 1px solid hsl(0, 0%, 30%);
            background-color: transparent;

            .note-title  {
                padding: .3rem;
                font-size: .8rem;
            }
            .card-tips {
                @include flexLayout(row);
                @include row(space-around);

                p{
                    font-size: 14px;
                }
                span {
                    @include gridLayout();
                }
            }
        }

    }
    .footer {
        @include flexLayout(row-reverse);
        gap: 2rem;
        padding: .5rem 4rem;

        p {
            font-size: .8rem;
        }
    }
}