@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Itim&display=swap");
@import "./presets";

@mixin flexLayout($direction) {
  display: flex;
  flex-flow: $direction;
}
@mixin row($direction) {
  justify-content: $direction;
}
@mixin col($direction) {
  align-items: $direction;
}
@mixin gridLayout {
  display: grid;
  place-items: center;
}

/* Media query for Smartphones */
@media (max-width: 500px) {
  .header {
    @include flexLayout(column);
    padding: 0.2rem 0.5rem;
    background: hsl(0, 0%, 82%);
    background: linear-gradient(
      to left,
      hsla(212, 64%, 12%, 0.877),
      hsla(229, 78%, 34%, 0.747)
    );

    .active-head {
      @include flexLayout(row);
      @include row(space-between);
      @include col(center);
      gap: 1rem;

      .logo {
        display: none;
        order: 2;
        margin-right: -4.5rem;
        img {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
        }
      }
      h1 {
        order: 1;
        font-size: 1rem;
        color: hsl(0, 0%, 80%);
      }
      .home-btn {
        order: 3;
        margin-left: 8rem;
        padding: 0.3rem;
        border: none;
        border-radius: 0.2rem;
        background: hsla(0, 0%, 85%, 0.822);
        color: #08255a;
        font-weight: 600;
        font-family: "itim", sans-serif;
        box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2),
          0 6px 20px 1.7px rgba(18, 55, 189, 0.19);

        i.fas {
          width: 1.5rem;
          color: #08255a;
          font-size: 1rem;
          font-weight: 700;
        }
        i:focus,
        :hover {
          background: none;
        }
      }
      .home-btn:focus,
      .home-btn:hover {
        background: hsla(212, 63%, 35%, 0.726);
        color: hsl(0, 0%, 85%);
        outline: 1px solid transparent;
      }
    }
    #drop-content.hide {
      display: block;
      @include gridLayout();
    }
    #drop-content {
      display: none;
    }
    .drop-content {
      gap: 0.1rem;
      width: 93%;
      height: 18rem;
      margin-bottom: 0.8rem;
      border-radius: 0.2rem;
      border-radius: 0.4rem;
      background: #cccccc;
      box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 4rem;
      left: 0.8rem;
      z-index: 2;

      a.links {
        width: 100%;
        height: 2.5rem;
        padding: 0.7rem;
        background: transparent;
        color: #08255a;
        font-size: 0.8rem;
        text-align: center;
        text-decoration: none;
      }
      a.links:hover,
      a.links:focus {
        outline: none;
        background: linear-gradient(
          to left,
          hsla(212, 64%, 12%, 0.877),
          hsla(229, 78%, 34%, 0.747)
        );
        color: hsl(0, 0%, 90%);
      }

      .home a {
        padding: 0 6rem;
        text-decoration: none;
        color: #08255a;
      }
      .home a:focus,
      .home a:active,
      .home a:visited {
        outline: transparent;
        background: #08255a54;
      }
    }
    #newUser {
      display: none;
    }
  }
  .section {
    @include flexLayout(column);
    background: hsl(229, 85%, 3%);

    .section-note {
      @include flexLayout(column);
      padding: 1rem;
      h2 {
        color: #053896;
      }
      .section-btn {
        @include flexLayout(row);

        #toggle,
        #toggle2 {
          padding: 0.4rem;
          border: 2px solid hsla(212, 63%, 35%, 0.726);
          border-radius: 0.4rem;
          background: hsla(0, 0%, 85%, 0.842);
          color: #092c6d;
          font-weight: 600;
          font-family: "itim", sans-serif;
          box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2);
        }
        #toggle:focus,
        #toggle2:focus {
          padding: 0.55rem;
          background: linear-gradient(
            to left,
            hsla(212, 63%, 35%, 0.726),
            hsla(290, 88%, 30%, 0.918)
          );
          color: hsl(0, 0%, 85%);
          font-weight: 400;
          outline: none;
          border: none;
          border-radius: 0.4rem;
        }
      }
    }
    #content,
    #content2 {
      @include flexLayout(column);
      @include col(center);
    }
    #content.show,
    #content2.show {
      display: none;
    }
    #content3 {
      @include flexLayout(row);
      gap: 1.5rem;
      .card {
        min-width: 18rem;
      }
    }
  }

  /* This is styling for the scrollable section and cards*/
  .section-scroll {
    @include flexLayout(column);
    @include col(center);
    gap: 1rem;
    width: 95%;
    max-height: 490px;
    margin: 0 auto;
    padding: 0.9rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    list-style-type: none;
    background: hsl(0, 0%, 60%);
    background: linear-gradient(
      to left,
      hsla(212, 77%, 26%, 0.555),
      hsla(211, 76%, 13%, 0.555)
    );
    overflow: auto;

    .card {
      @include flexLayout(column);
      gap: 1rem;
      width: 100%;
      height: 13rem;
      padding: 0.4rem 1rem;
      border-bottom: 3px solid #053896;
      border-radius: 0.29rem;
      position: relative;
      background-color: hsl(0, 0%, 80%);
      opacity: 0.8;
      z-index: 0;

      .note-title {
        height: 90px;
        padding-top: 0.5rem;
        font-size: 1rem;
        color: hsl(0, 0%, 10%);
        text-align: left;
      }
      .card-tips {
        @include flexLayout(row);
        @include row(space-around);
        p {
          color: hsla(136, 96%, 11%, 0.788);
        }

        span {
          @include flexLayout(column);
          @include col(center);
          @include row(center);

          button {
            padding: 0.3rem;
            border: 0.8px solid hsla(212, 63%, 35%, 0.726);
            border-radius: 0.39rem;
            background: hsla(0, 0%, 85%, 0.842);
            color: #092c6d;
            font-size: 0.8rem;
            font-weight: 600;
            font-family: "itim", sans-serif;
            box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2);
          }
          button:focus,
          :hover {
            background: linear-gradient(
              to left,
              hsla(212, 64%, 29%, 0.726),
              hsla(147, 88%, 30%, 0.918)
            );
            color: hsl(0, 0%, 85%);
            font-weight: 300;
            outline: none;
            border-radius: 0.4rem;
          }
        }
      }
    }
  }
  .footer {
    padding: 1rem 2rem;
    background: linear-gradient(left top, hsl(229, 85%, 3%), hsl(228, 86%, 5%));
    font-size: 0.8rem;
    p {
      color: hsl(0, 0%, 65%);
    }
    a {
      color: hsl(0, 0%, 70%);
      text-decoration: none;
    }
    a:hover,
    :active {
      color: #062152;
    }
    .social-icons {
      @include flexLayout(row);
      gap: 2rem;
      font-size: 1.6rem;
      color: #1145a7;
    }
  }
}

/* Media query for Tablets */
@media (max-width: 1020px) and (min-width: 501px) {
  .header {
    @include flexLayout(row);
    @include row(space-between);
    padding: 0 0.3rem;
    background: hsl(0, 0%, 90%);

    .active-head {
      @include flexLayout(row);
      @include col(center);
      gap: 0.5rem;

      img {
        width: 5rem;
        height: 4.7rem;
        border-radius: 50%;
      }
      h1 {
        font-size: 1rem;
        color: #053896;
      }
      .home-btn {
        display: none;
      }
    }
    .drop-content {
      @include flexLayout(row);
      @include col(center);
      gap: 0.8rem;
      padding: 2rem;

      .links {
        padding: 0.2rem;
        text-decoration: none;
        background: transparent;
        color: #053896;
        font-family: "itim", sans-serif;
      }
      .links:focus {
        color: #053896;
        outline: none;
      }
      .home {
        display: none;
      }
    }
    #newUser {
      display: none;
    }
  }
  .section {
    @include flexLayout(column);
    padding: 0.5rem;
    background: hsl(0, 0%, 80%);

    .section-note {
      @include flexLayout(row);
      @include row(space-between);
      padding: 0 2.5rem;

      h2 {
        font-size: 1.4rem;
        color: hsl(0, 0%, 10%);
      }
      .section-btn {
        @include gridLayout();

        #toggle,
        #toggle2 {
          padding: 0.3rem;
          border: 2px solid #053896;
          border-radius: 0.39rem;
          background: hsla(0, 0%, 85%, 0.726);
          color: #092c6d;
          font-weight: 600;
          font-family: "itim", sans-serif;
          box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2),
            0 6px 20px 1.7px rgba(18, 55, 189, 0.19);
        }
        #toggle:focus,
        :hover,
        #toggle2:focus,
        :hover {
          border: 1px solid #053896;
          outline: none;
          background: linear-gradient(
            to left,
            hsla(212, 63%, 35%, 0.726),
            hsla(290, 88%, 30%, 0.918)
          );
          color: hsl(0, 0%, 85%);
        }
      }
    }

    #content,
    #content2 {
      @include flexLayout(column);
      @include col(center);
    }
    #content.show,
    #content2.show {
      display: none;
    }

    .section-scroll {
      @include flexLayout(column);
      gap: 1rem;
      padding: 1.5rem;
      list-style-type: none;
      border: 1.3px solid hsl(0, 0%, 60%);
      /*box-shadow: 0 4px 8px 0 rgba(2, 12, 70, 0.2),
        0 3px 4px 0 rgba(1, 10, 39, 0.19);*/
      border-radius: 0.2rem;
      background: hsl(0, 0%, 70%);

      .card {
        @include flexLayout(column);
        margin-right: 0.5rem;
        padding: 1.2rem;
        border-top: 2.2px solid #053896;
        border-radius: 0.3rem;
        background-color: hsl(0, 0%, 80%);
        box-shadow: 0 4px 8px 0 rgba(2, 12, 70, 0.2),
          0 3px 4px 0 rgba(1, 10, 39, 0.19);

        .note-title {
          color: hsl(0, 0%, 10%);
        }
        .card-tips {
          @include flexLayout(row);
          gap: 3rem;
          padding: 0 1.5rem;
          color: hsla(136, 96%, 11%, 0.788);

          span {
            margin: auto 0;
            margin-left: auto;

            button {
              padding: 0.5rem;
              border: 0.5px solid #053896;
              border-radius: 0.39rem;
              background: hsla(0, 0%, 85%, 0.726);
              color: #092c6d;
              font-weight: 600;
              font-family: "itim", sans-serif;
              box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2),
                0 6px 20px 1.7px rgba(18, 55, 189, 0.19);
            }
            button:focus,
            :hover {
              background: #053896;
              color: hsl(0, 0%, 85%);
              outline: none;
            }
          }
        }
      }
    }
  }

  .footer {
    @include flexLayout(column);
    padding: 1.5rem 2rem;
    background: hsl(0, 0%, 78%);

    p {
      text-decoration: none;
      font-size: 1rem;
      color: #053896;
    }
    .foot-link {
      width: 7%;
      text-decoration: none;
      color: #053896;
    }
    .foot-link:hover,
    :active {
      color: #042561;
    }
    .social-icons {
      @include flexLayout(row);
      gap: 2rem;
      font-size: 1.2rem;
      color: #053896;
    }
  }
}

/* Media query for PCs and High-end Tablets */
@media (min-width: 1021px) {
  .header {
    @include flexLayout(row);
    @include row(space-between);
    padding: 0 1rem;
    background: linear-gradient(
      to left,
      hsla(212, 64%, 12%, 0.877),
      hsla(229, 78%, 34%, 0.747)
    );

    .active-head {
      @include flexLayout(row);
      @include col(center);
      gap: 0.8rem;

      img {
        width: 4.2rem;
        height: 4rem;
        border-radius: 50%;
      }
      img:focus {
        outline: 1px solid #032b77;
      }
      h1 {
        font-size: 0.8rem;
        color: hsl(0, 0%, 90%);
      }
      .home-btn {
        display: none;
      }
    }
    .drop-content {
      @include flexLayout(row);
      @include col(center);
      margin-right: 10%;
      gap: 2.5rem;

      .links {
        background: transparent;
        font-family: "itim", sans-serif;
        font-size: 0.78rem;
        font-weight: 350;
        color: hsl(0, 0%, 90%);
        text-decoration: none;
      }
      .links:hover {
        color: #08255a;
      }
      .links:focus {
        outline: none;
        color: #08255a;
      }
      .home {
        display: none;
      }
    }
    #newUser {
      @include gridLayout();
      place-items: center;
      margin-right: 2.5rem;

      a:hover i,
      a:focus i {
        color: #063ea7b2;
      }
      i {
        font-size: 1.5rem;
        color: #0744b4;
      }
    }
  }

  .section {
    @include flexLayout(row);
    gap: 2rem;
    padding: 1rem;
    border-bottom: 1px solid hsla(224, 95%, 8%, 0.616);
    background: hsl(229, 85%, 3%);

    .section-note {
      width: 20%;
      height: 30rem;
      padding-top: rem;
      border: 1px solid hsl(229, 85%, 3%);
      border-radius: 0.2rem;
      background: linear-gradient(
        to left,
        hsla(212, 77%, 26%, 0.555),
        hsla(211, 76%, 13%, 0.555)
      );
      text-align: center;

      h2 {
        color: hsl(0, 0%, 55%);
      }
      .section-btn {
        display: none;
      }
    }
    .section-scroll {
      @include flexLayout(row wrap);
      @include row(center);
      gap: 1.2rem;
      max-width: 70%;
      height: 30rem;
      margin: 0 auto;
      padding: 1.5rem;
      border: 1px solid hsl(229, 85%, 3%);
      border-radius: 0.2rem;
      background: linear-gradient(
        to left,
        hsla(212, 77%, 26%, 0.555),
        hsla(211, 76%, 13%, 0.555)
      );
      list-style-type: none;
      overflow: auto;
    }
    .card {
      @include flexLayout(column);
      gap: 1rem;
      width: 30%;
      height: 35%;
      border-bottom: 3px solid rgba(5, 56, 150, 0.74);
      border-radius: 0.23rem;
      position: relative;
      background-color: hsl(0, 0%, 80%);
      opacity: 0.8;

      .note-title {
        height: 10rem;
        padding: 0.3rem 0.7rem;
        font-size: 0.8rem;
        color: #092c6d;
      }
      .card-tips {
        @include flexLayout(row);
        @include row(space-around);
        padding-bottom: 0.9rem;
        color: hsla(136, 96%, 11%, 0.788);
        p {
          font-size: 12px;
        }
        span {
          @include gridLayout();

          button {
            padding: 0.2rem;
            border: transparent;
            border-radius: 0.39rem;
            background: hsla(212, 63%, 35%, 0.726);
            color: hsl(0, 0%, 10%);
            font-weight: 300;
            font-family: "itim", sans-serif;
            box-shadow: 0 0.5rem 2rem -0.25rem rgba(0, 0, 0, 0.3);
          }
          button:focus,
          button:hover {
            outline: none;
            background: linear-gradient(
              to left,
              hsla(212, 64%, 29%, 0.726),
              hsla(147, 88%, 30%, 0.918)
            );
            color: hsl(0, 0%, 85%);
            font-weight: 100;
          }
        }
      }
    }
    /*.card::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.1;
      transition: all 1s ease;
      box-shadow: 0 0.5rem 2rem 0.25rem rgba(0, 0, 0, 0.3);
    }
    .card:hover::after {
      opacity: 1;
      transform: scale(0.99);
    }*/
  }
  .footer {
    @include flexLayout(row-reverse);
    @include col(center);
    gap: 5rem;
    padding: 0.5rem 4rem;
    background: hsla(222, 92%, 5%, 0.904);

    .social-icons {
      @include flexLayout(row);
      gap: 3rem;
      color: #073fa7;
      font-size: 1.4rem;
    }
    .fab:hover {
      opacity: 0.8;
    }
    p {
      font-size: 0.78rem;
      color: hsl(0, 0%, 65%);
    }
    .foot-link {
      font-size: 0.78rem;
      color: hsl(0, 0%, 65%);
      text-decoration: none;
    }
    .foot-link:hover {
      color: #073ea5;
    }
  }
}
