@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Itim&display=swap");
* {
  border: 1px solid red !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  background: #ebebeb;
}

/* Media query for Smartphones */
@media (max-width: 500px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 0.2rem 0.5rem;
    background: #1f1f1f;
  }
  .header .active-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .header .active-head .logo {
    display: none;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: -4.5rem;
  }
  .header .active-head .logo img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }
  .header .active-head h1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 1rem;
    color: #cccccc;
  }
  .header .active-head .home-btn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 8rem;
    padding: 0.3rem;
    border: none;
    border-radius: 0.2rem;
    background: rgba(217, 217, 217, 0.822);
    color: #08255a;
    font-weight: 600;
    font-family: "itim", sans-serif;
  }
  .header .active-head .home-btn i.fas {
    width: 1.5rem;
    color: #08255a;
    font-size: 1rem;
    font-weight: 700;
  }
  .header .active-head .home-btn i:focus,
  .header .active-head .home-btn :hover {
    background: none;
  }
  .header .active-head .home-btn:focus,
  .header .active-head .home-btn:hover {
    background: rgba(33, 86, 145, 0.726);
    outline: 1px solid transparent;
  }
  .header .active-head .home-btn:focus i.fas,
  .header .active-head .home-btn:hover i.fas {
    color: #b3b3b3;
  }
  .header #drop-content.hide {
    display: block;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .header #drop-content {
    display: none;
  }
  .header .drop-content {
    gap: 0.1rem;
    width: 93%;
    height: 18rem;
    margin-bottom: 0.8rem;
    border-radius: 0.2rem;
    border-radius: 0.4rem;
    background: #cccccc;
    -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 4rem;
    left: 0.8rem;
    z-index: 2;
  }
  .header .drop-content a.links {
    width: 100%;
    height: 2.5rem;
    padding: 0.7rem;
    background: transparent;
    color: #08255a;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
  }
  .header .drop-content a.links:hover,
  .header .drop-content a.links:focus {
    outline: none;
    background: -webkit-gradient(linear, right top, left top, from(rgba(11, 29, 50, 0.877)), to(rgba(19, 44, 154, 0.747)));
    background: linear-gradient(to left, rgba(11, 29, 50, 0.877), rgba(19, 44, 154, 0.747));
    color: #e6e6e6;
  }
  .header .drop-content .home a {
    padding: 0 6rem;
    text-decoration: none;
    color: #08255a;
  }
  .header .drop-content .home a:focus,
  .header .drop-content .home a:active,
  .header .drop-content .home a:visited {
    outline: transparent;
    background: #08255a54;
  }
  .header #newUser {
    display: none;
  }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    background: #ebebeb;
  }
  .section .section-note {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 1rem;
  }
  .section .section-note h2 {
    color: #053896;
  }
  .section .section-note .section-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .section .section-note .section-btn #toggle,
  .section .section-note .section-btn #toggle2 {
    padding: 0.4rem;
    border: 2px solid rgba(33, 86, 145, 0.726);
    border-radius: 0.4rem;
    background: rgba(217, 217, 217, 0.842);
    color: #092c6d;
    font-weight: 600;
    font-family: "itim", sans-serif;
    -webkit-box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2);
            box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2);
  }
  .section .section-note .section-btn #toggle:focus,
  .section .section-note .section-btn #toggle2:focus {
    padding: 0.55rem;
    background: -webkit-gradient(linear, right top, left top, from(rgba(33, 86, 145, 0.726)), to(rgba(121, 9, 144, 0.918)));
    background: linear-gradient(to left, rgba(33, 86, 145, 0.726), rgba(121, 9, 144, 0.918));
    color: #d9d9d9;
    outline: none;
    border: none;
    border-radius: 0.4rem;
  }
  .section #content,
  .section #content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section #content.show,
  .section #content2.show {
    display: none;
  }
  .section #content3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    gap: 1.5rem;
    overflow-x: scroll;
  }
  .section #content3 .card {
    min-width: 18rem;
  }
  /* This is styling for the scrollable section and cards*/
  .section-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    width: 95%;
    max-height: 490px;
    margin: 0 auto;
    padding: 0.9rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    list-style-type: none;
    background: #e0e0e0;
    /*background: linear-gradient(
      to left,
      hsla(212, 77%, 26%, 0.555),
      hsla(211, 76%, 13%, 0.555)
    );*/
    overflow-y: auto;
    overflow-x: hidden;
  }
  .section-scroll .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 1rem;
    width: 100%;
    height: 13rem;
    padding: 0.4rem 1rem;
    border: 1px solid #cccccc;
    border-bottom: 3px solid #053896;
    border-radius: 0.29rem;
    position: relative;
    background-color: #f2f2f2;
    opacity: 0.95;
    z-index: 0;
  }
  .section-scroll .card .note-title {
    height: 90px;
    padding-top: 0.5rem;
    font-size: 1rem;
    text-align: left;
  }
  .section-scroll .card .note-title a {
    text-decoration: none;
    color: #1a1a1a;
  }
  .section-scroll .card .note-title a:active {
    text-decoration: none;
    color: #1f1f1f;
  }
  .section-scroll .card .card-tips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-scroll .card .card-tips p {
    color: rgba(1, 55, 15, 0.788);
  }
  .section-scroll .card .card-tips span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-scroll .card .card-tips span button {
    padding: 0.3rem;
    border: 0.8px solid rgba(33, 86, 145, 0.726);
    border-radius: 0.39rem;
    background: rgba(217, 217, 217, 0.842);
    color: #092c6d;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "itim", sans-serif;
    -webkit-box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2);
            box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2);
  }
  .section-scroll .card .card-tips span button:focus,
  .section-scroll .card .card-tips span :hover {
    background: -webkit-gradient(linear, right top, left top, from(rgba(27, 71, 121, 0.726)), to(rgba(9, 144, 70, 0.918)));
    background: linear-gradient(to left, rgba(27, 71, 121, 0.726), rgba(9, 144, 70, 0.918));
    color: #d9d9d9;
    font-weight: 300;
    outline: none;
    border-radius: 0.4rem;
  }
  .section-scroll .card:hover {
    background: rgba(240, 240, 240, 0.836);
    border: 1px solid #cccccc;
    border-bottom: 3px solid #053896;
  }
  .footer {
    padding: 1rem 2rem;
    border-top: 1px dotted rgba(128, 128, 128, 0.918);
    font-size: 0.8rem;
  }
  .footer p {
    font-size: 0.75rem;
    line-height: 1.5;
  }
  .footer .foot-link {
    font-size: 0.75rem;
    color: #062152;
    text-decoration: none;
  }
  .footer .foot-link:hover,
  .footer .foot-link:active {
    color: #062152;
    text-decoration: none;
  }
  .footer .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
    font-size: 1.6rem;
    color: #1145a7;
  }
  .footer .social-icons #what {
    color: limegreen;
  }
  .footer .social-icons i:hover,
  .footer .social-icons i:focus {
    opacity: .7;
  }
}

/* Media query for Tablets */
@media (max-width: 1020px) and (min-width: 501px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0.3rem;
    background: #1f1f1f;
  }
  .header .active-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
  }
  .header .active-head img {
    width: 5rem;
    height: 4.7rem;
    border-radius: 50%;
  }
  .header .active-head h1 {
    font-size: 1rem;
    color: #e6e6e6;
  }
  .header .active-head .home-btn {
    display: none;
  }
  .header .drop-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.8rem;
    padding: 2rem;
  }
  .header .drop-content .links {
    padding: 0.2rem;
    text-decoration: none;
    background: transparent;
    color: #e6e6e6;
    font-family: "itim", sans-serif;
  }
  .header .drop-content .links:focus {
    color: #053896;
    outline: none;
  }
  .header .drop-content .home {
    display: none;
  }
  .header #newUser {
    display: none;
  }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 0.5rem;
    background: #ebebeb;
  }
  .section .section-note {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2.5rem;
  }
  .section .section-note h2 {
    font-size: 1.4rem;
    color: #666666;
  }
  .section .section-note .section-btn {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .section .section-note .section-btn #toggle,
  .section .section-note .section-btn #toggle2 {
    padding: 0.3rem;
    border: 1.5px solid #053896;
    border-radius: 0.39rem;
    background: #ebebeb;
    color: #092c6d;
    font-weight: 600;
    font-family: "itim", sans-serif;
  }
  .section .section-note .section-btn #toggle:focus,
  .section .section-note .section-btn :hover,
  .section .section-note .section-btn #toggle2:focus,
  .section .section-note .section-btn :hover {
    border: 1px solid #053896;
    outline: none;
    background: -webkit-gradient(linear, right top, left top, from(rgba(33, 86, 145, 0.726)), to(rgba(121, 9, 144, 0.918)));
    background: linear-gradient(to left, rgba(33, 86, 145, 0.726), rgba(121, 9, 144, 0.918));
    color: #d9d9d9;
  }
  .section #content,
  .section #content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section #content.show,
  .section #content2.show {
    display: none;
  }
  .section .section-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 1rem;
    padding: 1.5rem;
    list-style-type: none;
    border: 1.3px solid #cccccc;
    border-radius: 0.2rem;
    background: #e0e0e0;
  }
  .section .section-scroll .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-right: 0.5rem;
    padding: 1.2rem;
    border: 1px solid #c4c4c4;
    border-top: 2.2px solid #053896;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
  }
  .section .section-scroll .card .note-title {
    color: #1a1a1a;
  }
  .section .section-scroll .card .note-title a {
    text-decoration: none;
    color: #1a1a1a;
  }
  .section .section-scroll .card .note-title:hover a {
    text-decoration: underline;
    color: #1a1a1a;
  }
  .section .section-scroll .card .card-tips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    gap: 3rem;
    padding: 0 1.5rem;
    color: rgba(1, 55, 15, 0.788);
  }
  .section .section-scroll .card .card-tips span {
    margin: auto 0;
    margin-left: auto;
  }
  .section .section-scroll .card .card-tips span button {
    padding: 0.5rem;
    border: 0.5px solid #053896;
    border-radius: 0.39rem;
    background: #ebebeb;
    color: #092c6d;
    font-weight: 600;
    font-family: "itim", sans-serif;
  }
  .section .section-scroll .card .card-tips span button:focus,
  .section .section-scroll .card .card-tips span :hover {
    background: #053896;
    color: #d9d9d9;
    outline: none;
  }
  .section .section-scroll .card:hover {
    background: rgba(235, 235, 235, 0.801);
    opacity: 1;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 1.5rem 2rem;
    background: #c7c7c7;
  }
  .footer p {
    text-decoration: none;
    font-size: 1rem;
    color: #053896;
  }
  .footer .foot-link {
    width: 7%;
    text-decoration: none;
    color: #053896;
  }
  .footer .foot-link:hover,
  .footer :active {
    color: #042561;
  }
  .footer .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    gap: 2rem;
    font-size: 1.2rem;
    color: #053896;
  }
}

/* Media query for PCs and High-end Tablets */
@media (min-width: 1021px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1rem;
    background: #1f1f1f;
  }
  .header .active-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.8rem;
  }
  .header .active-head img {
    width: 4.3rem;
    height: 4rem;
    border-radius: 50%;
  }
  .header .active-head img:focus {
    outline: 1px solid #032b77;
  }
  .header .active-head h1 {
    font-size: 0.8rem;
    color: #e6e6e6;
  }
  .header .active-head .home-btn {
    display: none;
  }
  .header .drop-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10%;
    gap: 2.5rem;
  }
  .header .drop-content .links {
    padding: .3rem;
    background: transparent;
    font-size: 0.7rem;
    font-weight: 350;
    color: #e6e6e6;
    text-decoration: none;
  }
  .header .drop-content .links:hover {
    color: #073ea5;
  }
  .header .drop-content .links:focus {
    outline: none;
    color: #073ea5;
  }
  .header .drop-content .home {
    display: none;
  }
  .header #newUser {
    display: -ms-grid;
    display: grid;
    place-items: center;
    place-items: center;
    margin-right: 2.5rem;
  }
  .header #newUser a:hover i,
  .header #newUser a:focus i {
    color: #063ea7b2;
  }
  .header #newUser i {
    font-size: 1.5rem;
    color: #0744b4;
  }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    gap: 2rem;
    padding: 1rem;
    background: #ebebeb;
  }
  .section .section-note {
    width: 20%;
    height: 30rem;
    padding-top: rem;
    border: 1px solid #cccccc;
    border-radius: 0.4rem;
    background: #e6e6e6;
    text-align: center;
  }
  .section .section-note h2 {
    color: #737373;
  }
  .section .section-note .section-btn {
    display: none;
  }
  .section .section-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.2rem;
    max-width: 70%;
    height: 30rem;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid #cccccc;
    border-radius: 0.4rem;
    background: #e6e6e6;
    list-style-type: none;
    overflow: auto;
  }
  .section .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 1rem;
    width: 30%;
    height: 35%;
    border: 1px solid #cccccc;
    border-bottom: 3px solid #053896bd;
    border-radius: 0.23rem;
    position: relative;
    background-color: #f2f2f2;
    opacity: 0.95;
  }
  .section .card .note-title {
    height: 10rem;
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
  }
  .section .card .note-title a {
    text-decoration: none;
    color: #092c6d;
  }
  .section .card .note-title a:hover {
    color: #0f3f99;
    text-decoration: underline;
  }
  .section .card .card-tips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 0.9rem;
    color: rgba(1, 55, 15, 0.788);
  }
  .section .card .card-tips p {
    font-size: 12px;
  }
  .section .card .card-tips span {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .section .card .card-tips span button {
    padding: 0.2rem;
    border: transparent;
    border-radius: 0.39rem;
    background: rgba(33, 86, 145, 0.726);
    color: #1a1a1a;
    font-weight: 300;
    font-family: "itim", sans-serif;
    -webkit-box-shadow: 0 0.5rem 2rem -0.25rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.5rem 2rem -0.25rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .section .card .card-tips span button:focus,
  .section .card .card-tips span button:hover {
    outline: none;
    background: -webkit-gradient(linear, right top, left top, from(rgba(27, 71, 121, 0.726)), to(rgba(9, 144, 70, 0.918)));
    background: linear-gradient(to left, rgba(27, 71, 121, 0.726), rgba(9, 144, 70, 0.918));
    color: #d9d9d9;
    font-weight: 100;
  }
  .section .card:hover {
    background: rgba(235, 235, 235, 0.801);
    opacity: 1;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
    margin-top: 1rem;
    padding: 0.7rem 4rem;
    border: 1px solid #cccccc;
  }
  .footer .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    gap: 3rem;
    color: #073fa7;
    font-size: 1.2rem;
  }
  .footer .social-icons #what {
    color: limegreen;
  }
  .footer .fab:hover {
    opacity: 0.8;
  }
  .footer p {
    font-size: 0.75rem;
    color: #333333;
  }
  .footer .foot-link {
    font-size: 0.78rem;
    color: #333333;
    text-decoration: none;
  }
  .footer .foot-link:hover {
    color: #073ea5;
  }
}
/*# sourceMappingURL=pages.css.map */