/*GOOGLE FONTS TO USE*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Itim&display=swap");

* {
  border: 1px solid red !important;*/
  box-sizing: border-box;
  
}
:root {
  --input-color: rgb(52, 56, 56);
  --input-back: hsla(0, 0%, 99%, 0.973);
  --card1: rgba(21, 33, 88, 0.911);
  --card2: rgb(155, 32, 42);
  --card3: rgb(163, 119, 172);
  --card4: rgba(117, 38, 108, 0.767);
  --card5: rgb(167, 67, 10);
  --card6: rgba(34, 148, 34, 0.795);
  --card7: rgb(30, 77, 21);
  --card8: rgb(43, 61, 138);
}
body {
  box-sizing: border-box;
  background: hsl(0, 0%, 95%);
  font-family: "Lemonada", sans-serif;
  margin: 0;
  padding: 0;
}
/*Style the header*/
.head{
  display: flex;
}
/*Style the main header section*/
.main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem;
}
.main1-bg {
  width: 100vw;
  background: hsl(0, 0%, 100%);
}
/*Style the main2 header section*/
.main2 {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  background-color: hsl(0, 0%, 100%);
}
/*Styles for the Current and Previous notes header*/
.main1-bg > h2,
.main2 > h2 {
  background: url(/images/pens\ and\ paint.jpg) center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
  color: transparent;
}
/*Style for the input fields*/
.input-field {
  display: flex;
  gap: 4px;
  margin-left: auto;
}
.report {
  height: 2rem;
  width: 30vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 0.3rem;
  background: var(--input-back);
  font-family: "comfortaa", cursive;
}
.report:focus,
.report:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(58, 58, 248);
  background-color: hsl(0, 0%, 100%);
  outline: none;
}

.report-btn {
  width: 54px;
  border: none;
  border-radius: 3.2px;
  background-color: hsl(0, 0%, 90%);
  font-family: "comfortaa", cursive;
  font-size: 0.6rem;
  font-weight: bold;
  color: hsl(0, 0%, 0%);
  cursor: pointer;
}
.report-btn:hover {
  border: 2px solid rgb(163, 53, 26);
  outline: none;
  color: hsl(0, 0%, 0%);
}
.report-btn:focus {
  background: -webkit-linear-gradient(
    left top,
    rgb(163, 53, 26),
    rgba(226, 52, 8, 0.726)
  );
}

/*Style the section1*/
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem .2rem;
  /*box-sizing: border-box;*/
  background: url(/images/Awesome-Bookworm-Vectors-2.jpg) no-repeat center;
  background-attachment: scroll;
  background-size: cover;
}
.section1 .mnth1 {
  background: var(--card1);
}
.section1 .mnth2 {
  background: var(--card2);
}
.section1 .mnth3 {
  background: var(--card3);
}
.section1 .mnth4 {
  background: var(--card8);
}
.section1 .mnth5 {
  background: var(--card5);
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem .2rem;
  /*box-sizing: border-box;*/
  background: url(/images/Awesome-Bookworm-Vectors-1.jpg) no-repeat center;
  background-attachment: scroll;
  background-size: cover;
}
.section2 .mnth1 {
  background: var(--card7);
}
.section2 .mnth2 {
  background: var(--card6);
}
.section2 .mnth3 {
  background: var(--card5);
}
.section2 .mnth4 {
  background: var(--card4);
}
.section2 .mnth5 {
  background: var(--card3);
}
.section2 .mnth5 {
  background: var(--card2);
}

/*Style the section cards*/
.cards-bg {
  display: flex;
  flex-direction: row;
}
.cards-month {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  height: 1.5rem;
  min-width: 4.7rem;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 3px;
  font-size: 12px;
  font-family: "comfortaa", cursive;
}

.cards-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 200px; /*This was originally 230-250px*/
  min-width: 11rem;
  padding: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3rem;
  cursor: pointer;
}
.cards-content:hover {
  transition: 0.3s;
  transform: scale(0.99);
  opacity: 0.88;
}
/*Style the cards top-border*/
.card1 {
  border-top: 4px solid var(--card1);
}
.card2 {
  border-top: 4px solid var(--card2);
}
.card3 {
  border-top: 4px solid var(--card3);
}
.card4 {
  border-top: 4px solid var(--card4);
}
.card5 {
  border-top: 4px solid var(--card6);
}
.card6 {
  border-top: 4px solid var(--card7);
}
.card7 {
  border-top: 4px solid var(--card6);
}
.card8 {
  border-top: 4px solid var(--card7);
}

/*Style the card contents*/
.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Comfortaa", cursive;
}
.second {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  padding: 0 1rem;
  border-radius: 1rem;
  background: rgba(115, 177, 228, 0.274);
  font-family: "itim", cursive;
}

.one {
  width: 100%;
  font-size: .8rem;
  white-space: wrap;
}
.two {
  font-size: .7rem;
  font-weight: bold;
  font-family: "itim", sans-serif;
}
.three {
  font-size: .7rem;
  font-weight: bold;
  font-family: "itim", sans-serif;
}
.four {
  height: 1.3rem;
  margin: auto;
  background-color: rgb(3, 54, 73);
  border: none;
  border-radius: 1rem;
  font-size: 0.7rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.4s;
}
.four:hover {
  color: hsl(0, 0%, 97%);
}
.four:focus {
  background-color: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 0%);
  box-shadow: 0 0 0 2px hsl(0, 0%, 100%), 0 0 0 5px rgb(3, 54, 73);
  outline: none;
}

/*Here Goes the style for the site footer*/
.footer,
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.8rem;
  padding: 1.2rem;
  background: hsl(0, 0%, 100%);
}
.footer-input {
  display: flex;
  flex-direction: row;
}

/*Here Goes Media-Queries for iphone4 and other punishments*/
@media (max-width: 360px) {
  /*Styles for the Current notes and previous notes section*/
  .main1-bg > h2,
  .main2 > h2 {
    background: url(/images/pens\ and\ paint.jpg) center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: transparent;
  }
}
/*Here Goes Media-Queries for Desktop view*/
@media (min-width: 1020px) {
  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 2rem;
    background: rgba(21, 33, 88, 0.911);
  }
  .logo-info {
    width: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
    /*gap: 3rem;*/
  }
  .logo-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-img img {
    width: 65px;
    height: 50px;
    border-radius: 3px;
  }
  .logo-info .active-tab {
    padding: 10px 5px;
    border-radius: 4px;
    background: hsl(0, 0%, 80%);
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
  }
  .drop-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  /*Style Buttons*/
  .drop-btn {
    width: 45px;
    height: 25px;
    margin: 4px;
    border: none;
    outline: 2px solid rgb(155, 32, 42);
    border-radius: 3px;
    outline: none;
    background: hsl(0, 0%, 100%);
    color: #233;  
    font-size: .7rem;
    font-weight: 600;
    text-align: center;
    transition: .4s;
    cursor: pointer;
  }
  /*Add back-color if button is clicked and .active and upon hover*/
  .drop-btn.active,
  .drop-btn:hover {
    background: #ddd;
    border: 1px solid  rgb(163, 53, 26);
  }
  .drop-btn:focus {
    background:  rgb(163, 53, 26);
  }
  /*Style Accordion panel (hidden by default)*/
  .panel {
    display: none;
    width: 10%;
    padding: 0 18px;
    border-radius: 4px;
    position: absolute;
    top: 4.5rem;
    left: 80%;
    z-index: 2;
    background: hsl(0, 0%, 80%);
    text-align: center;
  }
  .panel a {
    font-size: 10px;
    color: #233;
    text-decoration: none;
  }
  .panel a:hover {
    color: #135bbf;
  }
  /*Show class is added on click*/
  .panel.show{
    display: flex !important;
    flex-direction: column;
    font-size: 10px;
  }

  .main1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4px;
    padding: 0 5rem;
    background: hsl(0, 0%, 100%);
  }
  .main2 {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    background-color: hsl(0, 0%, 100%);
  }
  .main1-bg > h2,
  .main2 > h2 {
    background: url(/images/pens\ and\ paint.jpg) right;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 900;
    color: transparent;
  }
  .input-field {
    display: flex;
    gap: 4px;
    margin-left: auto;
  }
  .report-btn,
  .report-btn:hover {
    width: 55px;
    transition: 0.5s;
    opacity: 0.9;
  }
  .section1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 3.5rem;
    border-radius: 4px;
    background: url(/images/siteback.jpg) center;
    background-attachment: fixed;
    background-size: cover;
  }
  .section2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 3.5rem;
    border-radius: 4px;
    background: url(/images/siteback.jpg) center;
    background-attachment: fixed;
    background-size: cover;
  }
  .cards-content {
    margin: 0.5rem 1rem;
    background: hsl(0, 0%, 80%);
    opacity: 0.9;
    cursor: pointer;
  }
  .cards-content:hover {
    transition: 0.3s;
    transform: scale(0.99);
    opacity: 0.8;
  }
  .second {
    border-radius: 1rem;
    background:  rgba(4, 78, 139, 0.082);
  }
  .second:hover {
    background: none;
    transition: .5s;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-wrapper {
    margin-left: auto;
  }
  .footer-input {
    padding: 0 1rem;
  }
  .footer-input #report3 {
    width: 30vh;
  }
}
