@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Itim&display=swap");
@import "./presets";

@mixin flexLayout($direction) {
  display: flex;
  flex-flow: $direction;
}
@mixin row($direction) {
  justify-content: $direction;
}
@mixin col($direction) {
  align-items: $direction;
}
@mixin gridLayout {
  display: grid;
  place-items: center;
}

/* Media query for Smartphones */
@media (max-width: 500px) {
  .header {
    @include flexLayout(column);
    padding: 0.2rem 0.5rem;
    background: #0d1b36f6;

    .active-head {
      @include flexLayout(row);
      @include row(space-between);
      @include col(center);
      gap: 1rem;
      
      .logo {
        display: none;
        order: 2;
        margin-right: -4.5rem;
        img {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
        }
      }
      h1 {
        order: 1;
        font-size: 1rem;
        color: hsl(0, 0%, 55%);
      }
      .home-btn {
        order: 3;
        margin-left: 8rem;
        padding: 0.3rem;
        border: none;
        border-radius: 0.39rem;
        background: hsla(0, 0%, 85%, 0.822);
        color: #092c6d;
        font-weight: 600;
        font-family: "itim", sans-serif;
        box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2),
          0 6px 20px 1.7px rgba(18, 55, 189, 0.19);
      }
      .home-btn:focus, 
      :hover {
        background: #053896;
        color: hsl(0, 0%, 85%);
        outline: 1px solid transparent;
      }
    }
    #drop-content.hide {
      display: block;
      @include gridLayout();
    }
    #drop-content {
      display: none;
    }
    .drop-content {
      gap: 0.1rem;
      width: 93%;
      height: 18rem;
      margin-bottom: 0.8rem;
      border-radius: .4rem;
      background: rgba(196, 195, 195, 0.973);
      position: absolute;
      top: 4rem;
      left: .8rem;
      border-radius: 0.2rem;
      

      button {
        width: 100%;
        height: 2.5rem;
        border: none;
        background: transparent;
        color: hsl(0, 0%, 5%);
      }
      button:focus,
      :hover {
        outline: none;
        background: #040d44ce;
        color: hsl(0, 0%, 90%);
      }

      .home a{
        text-decoration: none;
        color: hsl(0, 0%, 10%);
      }
      .home a:focus,
      :active, :visited {
        color: hsl(0, 0%, 90%);
      }
    }
  }
  .section {
    @include flexLayout(column);
    background: #0c1830;  

    .section-note {
      @include flexLayout(column);
      padding: 1rem;
      h2 {
        color: hsl(0, 0%, 67%);
      }
      .section-btn {
        @include flexLayout(row);
        
        #toggle,#toggle2 {
          padding: 0.3rem;
          border: none;
          border-radius: 0.4rem;
          background: hsla(0, 0%, 85%, 0.842);
          color: #092c6d;
          font-weight: 600;
          font-family: "itim", sans-serif;
          box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2),
            0 6px 20px 1.7px rgba(18, 55, 189, 0.19);
        }
        #toggle:focus,
        #toggle2:focus {
          background: #053896;
          color: hsl(0, 0%, 85%);
          outline: none;
          border: 1px solid hsla(0, 89%, 48%, 0.726);
          border-radius: .4rem;
        }
      }
    }
    #content,
    #content2 {
      @include flexLayout(column);
      @include col(center);
    }
    #content.show,
    #content2.show {
      display: none;
    }
    #content3 {
      @include flexLayout(row);
      gap: 1.5rem;
      .card {
        min-width: 18rem;
      }
    }
  }
  /* This is styling for the scrollable section and cards*/
  .section-scroll {
    @include flexLayout(column);
    @include col(center);
    gap: 1rem;
    width: 95%;
    max-height: 490px;
    margin: 0 auto;
    padding: 0.9rem 1rem;
    border-radius: 0.25rem;
    list-style-type: none;
    background: #0b1524;    
    overflow: auto;

    .card {
      @include flexLayout(column);
      gap: 1rem;
      width: 100%;
      height: 13rem;
      padding: 0.4rem 1rem;
      border-bottom: 2.5px solid hsla(0, 89%, 48%, 0.726);
      border-radius: 0.29rem;
      background-color: #101e38de;

      .note-title {
        height: 90px;
        padding-top: 0.5rem;
        font-size: 1rem;
        color: hsl(0, 0%, 70%);
        text-align: left;
      }
      .card-tips {
        @include flexLayout(row);
        @include row(space-around);
        p {
          color: hsla(0, 89%, 48%, 0.726);
        }

        span {
          @include flexLayout(column);
          @include col(center);
          @include row(center);
          button {
            padding: 0.3rem;
            border: none;
            border-radius: 0.39rem;
            background: hsla(0, 0%, 85%, 0.842);
            color: #092c6d;
            font-size: .8rem;
            font-weight: 600;
            font-family: "itim", sans-serif;
            box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2),
              0 6px 30px 1.7px rgba(18, 55, 189, 0.19);
          }
          button:focus,
          :hover {
            background: #053896;
            color: hsl(0, 0%, 85%);
            outline: none;
            border: 1px solid hsla(0, 89%, 48%, 0.726);
            border-radius: .4rem;
          }
        }
      }
    }
  }
  .footer {
    padding: 1rem 2rem;
    background: #0f1c35;
    font-size: .8rem;
    p {
      color: hsl(0, 0%, 66%);
    }
    a {
      color: hsl(0, 0%, 66%);
      text-decoration: none;
    }
    a:hover,
    :active {
      color: #053896;
    }
  }
}

/* Media query for Tablets */
@media (max-width: 1020px) and (min-width: 501px) {
  .header {
    @include flexLayout(row);
    @include row(space-between);
    padding: 0 0.3rem;
    background: #0d1b36f6;

    .active-head {
      @include flexLayout(row);
      @include col(center);
      gap: 0.5rem;

      img {
        width: 5rem;
        height: 4.8rem;
        border-radius: 50%;
      }
      h1 {
        font-size: 1.1rem;
        color: #053896;
      }
      .home-btn {
        display: none;
      }
    }
    .drop-content {
      @include flexLayout(row);
      @include col(center);
      gap: 0.8rem;

      button {
        border: none;
        background: transparent;
        color: hsl(0, 0%, 70%);
      }
      button:focus {
        color: #053896;
      }
      .home {
        display: none;
      }
    }
  }
  .section {
    @include flexLayout(column);
    padding: 0.5rem;
    background: #122241;

    .section-note {
      @include flexLayout(row);
      @include row(space-between);
      padding: 0 2.5rem;

      h2 {
        font-size: 1.5rem;
        color: hsla(0, 0%, 85%, 0.904);
      }
      .section-btn {
        @include gridLayout();

        #toggle,
        #toggle2 {
          padding: 0.3rem;
          border: none;
          border-radius: 0.39rem;
          background: hsla(0, 0%, 85%, 0.726);
          color: #092c6d;
          font-weight: 600;
          font-family: "itim", sans-serif;
          box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2),
            0 6px 20px 1.7px rgba(18, 55, 189, 0.19);
        }
        #toggle:focus, :hover,
        #toggle2:focus, :hover {
          background: #053896;
          color: hsl(0, 0%, 85%);
          outline: 1px solid #032b77;
        }
      }
    }

    #content,
    #content2 {
      @include flexLayout(column);
      @include col(center);
    }
    #content.show,
    #content2.show {
      display: none;
    }

    .section-scroll {
      @include flexLayout(column);
      gap: 1rem;
      padding: 1.5rem;
      list-style-type: none;
      box-shadow: 0 4px 8px 0 rgba(2, 12, 70, 0.2),
        0 3px 4px 0 rgba(1, 10, 39, 0.19);
      border-radius: 0.2rem;
      background: #0b1524;

      .card {
        @include flexLayout(column);
        margin-right: 0.5rem;
        padding: 1.2rem;
        border-top: 2.2px solid hsla(0, 89%, 48%, 0.726);
        border-radius: 0.3rem;
        background-color: #101e3898;
        box-shadow: 0 4px 8px 0 rgba(2, 12, 70, 0.2),
          0 3px 4px 0 rgba(1, 10, 39, 0.19);

        .note-title {
          color: hsl(0, 0%, 67%);
        }
        .card-tips {
          @include flexLayout(row);
          gap: 3rem;
          padding: 0 1.5rem;
          color: hsla(0, 89%, 48%, 0.726);

          span {
            margin: auto 0;
            margin-left: auto;

            button {
              padding: 0.5rem;
              border: none;
              border-radius: 0.39rem;
              background: hsla(0, 0%, 85%, 0.726);
              color: #092c6d;
              font-weight: 600;
              font-family: "itim", sans-serif;
              box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2),
                0 6px 20px 1.7px rgba(18, 55, 189, 0.19);
            }
            button:focus,
            :hover {
              background: #053896;
              color: hsl(0, 0%, 85%);
              outline: 1px solid #032b77;
            }
          }
        }
      }
    }
  }

  .footer {
    @include flexLayout(column);
    padding: 1.5rem 2rem;
    background: #0f1c35;

    p {
      text-decoration: none;
      font-size: 1rem;
      color: hsl(0, 0%, 67%);
    }
    .foot-link {
      width: 7%;
      text-decoration: none;
      color: hsl(0, 0%, 67%);
    }
    .foot-link:hover,
    :active {
      color: #053896;
    }
  }
}

/* Media query for PCs and High-end Tablets */
@media (min-width: 1021px) {
  .header {
    @include flexLayout(row);
    @include row(space-between);
    padding: 0 1rem;
    background: hsl(0, 0%, 97%);

    .active-head {
      @include flexLayout(row);
      @include col(center);
      gap: .8rem;

      img {
        width: 4.2rem;
        height: 4rem;
        border-radius: 50%;
      }
      img:focus {
        outline: 1px solid #032b77;
      }
      h1 {
        font-size: .8rem;
        color: #053896;
      }
      .home-btn {
        display: none;
      }
    }
    .drop-content {
      @include flexLayout(row);
      @include col(center);
      margin-right: 30%;
      gap: 1.3rem;

      button {
        border: none;
        background: transparent;
        font-family: "itim", sans-serif;
        font-size: 0.73rem;
        font-weight: 480;
        color: #053896;
      }
      button:hover {
        border-bottom: 2px solid #053896;
      }
      button:focus {
        outline: none;
        border: 2px solid #053896;
        border-radius: .3rem;
        background: hsl(0, 0%, 90%);
        font-weight: 400;
        color: #053896;
      }
      .home {
        display: none;
      }
    }
  }

  .section {
    @include flexLayout(row);
    gap: 2rem;
    padding: 1rem;
    border-bottom: 1px solid hsla(0, 0%, 25%, 0.616);
    background: hsl(0, 0%, 92%);

    .section-note {
      width: 20%;
      height: 30rem;
      padding-top: rem;
      border: 1px solid hsl(0, 0%, 80%);
      /*box-shadow: 0 4px 8px 0 rgba(2, 12, 70, 0.2),
        0 3px 4px 0 rgba(1, 10, 39, 0.19); */
      border-radius: 0.2rem;
      background: hsl(0, 0%, 90%);
      text-align: center;

      h2 {
        color: hsl(0, 0%, 55%);
      }
      .section-btn {
        display: none;
      }
    }
    .section-scroll {
      @include flexLayout(row wrap);
      @include row(center);
      gap: 1.2rem;
      max-width: 70%;
      height: 30rem;
      margin: 0 auto;
      padding: 1.5rem;
      border: 1px solid hsl(0, 0%, 80%);
      /*box-shadow: 0 4px 8px 0 rgba(2, 12, 70, 0.2),
        0 3px 4px 0 rgba(1, 10, 39, 0.19);*/
      border-radius: 0.1rem;
      background: hsl(0, 0%, 90%);
      list-style-type: none;
      overflow: auto;
    }
    .card {
      @include flexLayout(column);
      gap: 1rem;
      width: 30%;
      height: 35%;
      border-bottom: 3px solid hsla(0, 89%, 48%, 0.726);
      border-radius: 0.23rem;
      background-color: hsl(0, 0%, 90%);
      box-shadow: 0 4px 8px 0 rgba(2, 12, 70, 0.2),
        0 3px 4px 0 rgba(1, 10, 39, 0.19);

      .note-title {
        height: 10rem;
        padding: 0.3rem .7rem;
        font-size: 0.8rem;
        color: hsl(0, 0%, 10%);
      }
      .card-tips {
        @include flexLayout(row);
        @include row(space-around);
        padding-bottom: .9rem;
        p {
          font-size: 12px;
          color: hsl(0, 0%, 55%);
        }
        span {
          @include gridLayout();

          button {
            padding: 0.3rem;
            border: none;
            border-radius: 0.39rem;
            background: hsla(0, 0%, 85%, 0.726);
            color: #092c6d;
            font-weight: 600;
            font-family: "itim", sans-serif;
            box-shadow: 0 4px 8px 0 rgba(20, 46, 192, 0.2),
              0 6px 20px 1.7px rgba(18, 55, 189, 0.19);
          }
          button:focus,
          :hover {
            outline: none;
            background: #053896;
            color: hsl(0, 0%, 85%);
          }
        }
      }
    }
  }
  .footer {
    @include flexLayout(row-reverse);
    @include col(center);
    gap: 2rem;
    padding: 0.5rem 4rem;
    background: #0f1c35;

    p {
      font-size: 0.8rem;
      color: hsl(0, 0%, 55%);
    }
    .foot-link {
      font-size: 0.8rem;
      color: hsl(0, 0%, 55%);
      text-decoration: none;
    }
    .foot-link:hover {
      color: #053896;
    }
  }
}
